{% extends 'partials/base.html' %}

{% block title %}
    General
{% endblock %}

{% block body %}
    {% include 'partials/navbar.html' %}

    <!-- HOME SCREEN -->
    <!-- Logo -->
    <div class="text-center m-5">
        <h1 style="color: orange">Entertainment</h1>
    </div>

    <!-- News Articles -->
    <div>
        <div class="row m-3" id="newsType"></div>
        <div class="row me-2 ms-2" id="newsDetails"></div>
    </div>

    <div id="card-article" class="container">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
            {% for article in articles %}
                <div class="col p-2">
                    <div style="height: 100%" class="card border-warning">
                        <img class="card-img-top" src="{{ article.urlToImage }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                        </div>
                        <a href="{{ article.url }}" class="shadow border-dark btn btn-warning">See Article</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}