{% extends 'partials/base.html' %}

{% block title %}
    Newtspaper
{% endblock %}

{% block body %}
{% include 'partials/navbar.html' %}

    <!-- HOME SCREEN -->
    <!-- Logo -->
    <div class="text-center m-5">
        <h1 style="color: orange">Newtspaper</h1>
    </div>

    <!-- News Articles -->
    <div>
        <div class="row m-3" id="newsType"></div>
        <div class="row me-2 ms-2" id="newsDetails"></div>
    </div>
    {% for article in articles %}
        <div>   {{ article.author }}</div>
        <div>   {{ article.title }}</div>

    {% endfor %}




{% endblock %}

{% block js %}

     <script>
{% comment %}        const API_KEY = "c467c532f88e46ddb2e6b2d6d4545cf5";
        const corsAnywhereURL = 'https://cors-anywhere.herokuapp.com/';

        $.ajax({
            url: corsAnywhereURL + `https://newsapi.org/v2/top-headlines?country=us&category=general&apiKey=${API_KEY}`,
            dataType: 'json',
            method: 'GET',
            success: function (data) {
                console.log(data);
            }
        });{% endcomment %}
    </script>
{% endblock %}







