

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow">
    <div class="container-fluid">
        <a style="color: orange" class="navbar-brand nav-link active" href="/newtspaper_app/home">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a style="color: orange" class="navbar-brand nav-link active" href="your-page">Your page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a style="color: orange" class="nav-link dropdown-toggle" href="#" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Topics
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/newtspaper_app/science" aria-current="true">Science</a></li>
                        <li><a class="dropdown-item" href="/newtspaper_app/business" aria-current="true">Business</a></li>
                        <li><a class="dropdown-item" href="/newtspaper_app/technology" aria-current="true">Technology</a></li>
                        <li><a class="dropdown-item" href="/newtspaper_app/sports" aria-current="true">Sports</a></li>
                        <li><a class="dropdown-item" href="current-events" aria-current="true">Current events</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button style="color: orange" class="btn btn-outline" type="submit">Search</button>
                <button style="color: orange" class="btn btn-outline" type="submit">Sign in</button>
            </form>
        </div>
    </div>
</nav>